[submodule "pw3-bot-manager"]
	path = pw3-bot-manager
	url = https://github.com/ajuvercr/pw3-bot-manager.git
[submodule "pw3-frontend"]
	path = pw3-frontend
	url = https://github.com/iasoon/pw3-frontend.git
[submodule "pw3-moz2"]
	path = pw3-moz2
	url = https://github.com/iasoon/pw3-moz2.git
